* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_body: #282c35
}

body {
  font-size: 18px;
  font-family: sans-serif;
  background-color: #363e3c;
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: transparent;
  color: #dfdede;
  font-size: 1.2em;
  font-weight: 600;
  -webkit-box-shadow: 4px 7px 31px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 31px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 7px 31px -6px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
}

button.operation {
  color: #c3782d;
}

button.other {
  color: #26d0b4;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  color: #dfdede;
  border-radius: 30px;
  background-color: #22252d;
  overflow: hidden;
  -webkit-box-shadow: 3px -1px 56px -21px rgba(255, 255, 255, 0.14);
  -moz-box-shadow: 3px -1px 56px -21px rgba(255, 255, 255, 0.14);
  box-shadow: 3px -1px 56px -21px rgba(255, 255, 255, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  min-width: 80%;
  min-height: 75%;
}

header {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  padding: 10px;
  height: 180px;
}

header>input {
  width: 100%;
  height: 2rem;
  font-size: 1.6em;
  color: #dfdede;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: end;
  cursor: auto;
}

header>h4 {
  font-size: 2.8em;
  font-weight: 700;
}

.body {
  background-color: var(--color_body);
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 15px 20px;
  place-items: center;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

@media (min-width: 768px) {
  button {
    font-size: 1.4em;
  }

  .container {
    width: 50%;
  }

  header {
    height: 200px;
  }

  .calculator {
    min-width: 40%;
  }
}